h1,h2,h3,h4,h5,h6 {
    font-family: $fontrobo;
    font-weight: $fw-bold;
    line-height: 1.2;
    margin: 0 0 .75rem;
}
ul,ol {
    margin:0;
    padding:0;
}

p {
    margin:0 0 1em;
}

a {
    color: inherit;
    &:hover, &:focus {
        // color: $color-blue;
    }
}
