.theaxiswrap { 
    background-image: linear-gradient(to top, rgba($cl-body-background,.25) 0, $cl-body-background 1.875em);
    padding:3.5rem 0 0;
    p {
        position: relative;
        line-height: 1.2;
        font-size: .9375rem;  
        font-family: $fontrobo;
        color: $cl-gray;
  
        padding: .5em .25em .5em 1em;
        margin:0 0 0 51.25%;
        &::before {
            position: absolute;
            content:'';
            top:50%;
            left:0;
            bottom:0;
            width: .875em;
            border-left:1px dashed $cl-gray-light;
            border-top:1px dashed $cl-gray-light;
        }
    }
}

.yearlist {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: $fontrobo;
    line-height: 1;
    font-size: rem-calc(13);
    text-align: center;

    @include breakpoint($bp-tablet) {
        font-size: rem-calc(15);
    }
    li {
        display: block;
        padding:0 0 .25em;
        margin:0;
        flex-basis: 16.6666%;
        text-align: center;
        &:first-child() {
            flex-basis: 8.3333%;
            text-align: left;
        }
        &:last-child() {
            flex-basis: 8.3333%;
            text-align: right;
        }
    }
}

svg.theaxis {
    width:100%;
    display: block;
    fill: currentColor;
}


