.banner {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    position: fixed;
    z-index: -1;
    left:0;
    bottom:0;
    transform: translate3d(0, 0, 0);
    // transition: opacity .2s ease-in;
    
    // border: .22rem solid green;

    .thelead {
    }

        
   
}

a.langswitch {
    position: absolute;
    top: 3%;
    right: 3%;
    display: inline-block;
    text-decoration: none;
    padding:.5em .75em;
    border:1px dashed rgba(#000, .25);
    font-size: .75rem;
    line-height: 1;
    text-align: center;

}

.startgomb {
    z-index: 3;
    position: absolute;
    display: inline-block;
    bottom:10%;
    left:calc(50% - 1.25rem);
    // transform: translate3d(-50%, 0, 0) !important;
    text-align: center;
    line-height: 1.2;
    text-decoration: none;
    width:2.5rem;
    &:hover, &:focus {
        filter:contrast(3);
    }

}

.afterbanner {

    // border: .22rem solid red;
    margin-top: 100vh;
    .pageintro {
        padding-top: 1em;
    }
  
}



.pageintro {
    font-size: rem-calc(15);
    line-height: 1.444;

    
    @include breakpoint($bp-tablet) {
        font-size: rem-calc(18);
    }


    a[class^="cl"] {
        background-color: $cl-gray;
        text-decoration: none;
        white-space: nowrap;

        &:hover, &:focus {
            filter: grayscale(1) invert(1);
        }
    
        &.cl1 {
            background-color: $cl-1;
        };
        &.cl2 {
            background-color: $cl-2;
        };
        &.cl3 {
            background-color: $cl-3;
        };
        &.cl4 {
            background-color: $cl-4;
        };
    }

}





