.chapters {
}
.chapter {
    position: relative;
    margin: 6rem 0;
}
.chapter__title {
    transition: transform .2s ease-in;
    position: relative;
    font-size: rem-calc(15);
    line-height: $global-lineheight;
    font-weight: $fw-normal;
    font-family: $fontfira;
    margin: 0 0 0;
    width: max-content;
    max-width: calc(66.666% - 1em);
    background-color: $cl-gray;
    padding:.125em 0;
    &:before {
        z-index: -1;
        content: '';
        display: block;
        position: absolute;
        top:0;
        right: -.5em;
        width:66.666vw;
        height: 100%;
        background-color: inherit;
        box-shadow: .125em .125em .25em -.125em rgba(#000,.25);
        @include breakpoint($bp-tablet) {
            width:auto;
            left:-.5em;
        }
    }

    .is-stuck & {
        // transform: translate3d(0,.5em,0);
    }

    .is-at-bottom & {
        &:before {
            display: none;
        }
    }


    &.cl1 {
        background-color: $cl-1;
    };
    &.cl2 {
        background-color: $cl-2;
    };
    &.cl3 {
        background-color: $cl-3;
    };
    &.cl4 {
        background-color: $cl-4;
    };

}

.chapter__intro {
    // font-family: $fontrobo;
    // font-weight: $fw-medium;
    font-size: rem-calc(15);
    margin:.5rem 0 0;
    p {
        line-height: 1.5;
        strong {
            font-weight: $fw-medium;
        }
    }
}

.chapter__data {
    position: relative;
    padding:0 0 0;
    &::before {
        z-index: -1;
        position: absolute;
        content:'';
        top:8rem;
        left:50%;
        bottom:1.5rem;
        width: 1px;
        border-left:1px dashed $cl-gray-light;
    }

    .sticky {
        z-index: 4;
    }
}


