.chapter {
    margin: 3rem 0;
}
.chapter__title {
    position: relative;
    font-size: 1.5rem;
    // font-weight: $fw-normal;
    margin: 0 0 .25em;
    width: max-content;
    max-width: calc(66.666% - 1em);
    background-color: $cl-gray;
    padding:.25em 0;
    &:before {
        z-index: -1;
        content: '';
        display: block;
        position: absolute;
        top:0;
        right: -.5em;
        width:66.666vw;
        height: 100%;
        background-color: inherit;
        box-shadow: .125em .125em .25em -.125em rgba(#000,.25);
        // @include breakpoint(768px) {
        //     width:auto;
        //     left:-1.5em;
        // }
    }


    &.cl1 {
        background-color: $cl-1;
    };
    &.cl2 {
        background-color: $cl-2;
    };
    &.cl3 {
        background-color: $cl-3;
    };
    &.cl4 {
        background-color: $cl-4;
    };



}
.chapter__intro {
    font-family: $fontrobo;
    font-size: 1rem;
    p {
        line-height: 1.4;
    }
}