.siteheader {
    min-height: $siteheader-height;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    // border-bottom: 1px dashed rgba(#000, .25);
    align-items: center;
    padding:.5rem 0;
    h1 {
        font-size: 1rem;
        line-height: 1;
        margin:0;
        // font-family: $fontfira;
        // color: $cl-gray;
    }
    
}


.sitefooter {
    padding:calc(.875rem + 2vw) 0;
    font-size: 1rem;
    color:$cl-gray;
    p {
        margin:0;
        font-family: $fontrobo;
    }
}

.sitefooter__logos {
    display: flex;
    gap:.875rem;
    img {
        display: block;
        height:3.5rem;
    }
    margin:0 0 .75rem;
}