.office {
    margin: 2.875rem 0;
    text-shadow: 1px 1px 0 $cl-body-background, -1px -1px 0 $cl-body-background, 1px -1px 0 $cl-body-background, -1px 1px 0 $cl-body-background;
}
.office__title {
    font-size: 0.975rem;
    margin:0 0 .25em;
    max-width: 32em;
    
}
.office__intro {
    font-family: $fontrobo;
    font-size: 0.975rem;
    color:$cl-gray;
    max-width: 32em;

    p {

    }
}

.office__data {
    .svgbar {
        height: .625rem;
    }
    p {
        font-family: $fontrobo;
        text-align: right;
        font-size: 0.975rem;
        padding:.333em 0 .333em;
        margin:0 0 .25em auto;
        max-width: 26em;
    }
}