.theaxiswrap {
    background-color: $cl-body-background;   
    padding:.5rem 0 0;

    .is-stuck & {
        box-shadow: 0 0 1rem 0 $cl-body-background;
    }
    .chapter__title {
        opacity: 0;
        z-index: 5;
        .is-stuck & {
            opacity: 1;
        }
    }
    p {
        position: relative;
        line-height: 1.2;
        font-size: .9375rem;  
        font-family: $fontrobo;
        color: $cl-gray;
  
        padding: .25em .25em .125em 1em;
        margin-left: 50%;
        &::before {
            position: absolute;
            content:'';
            top:50%;
            left:0;
            bottom:0;
            width: .875em;
            border-left:1px dashed $cl-gray-light;
            border-top:1px dashed $cl-gray-light;
        }
    }
}
svg.theaxis {
    font-family: $fontrobo;
    line-height: 1;
    font-size: 20px;
    width:100%;
    display: block;
    fill: currentColor;
    margin-top: .875em;
    // background-color: red;

    @include breakpoint($bp-tablet) {
        font-size: rem-calc(15px);
    }
    @include breakpoint($bp-xlarge) {
        font-size: rem-calc(12px);
    }

}

svg.svgbar {
    display: block;
    .progress {


        
       
    }
}

