<div id="egyeb" class="chapter pagewrap novpad" data-magellan-target="egyeb">
    <div class="narrowwrap">
        <div class="sticky" data-sticky data-margin-top=".5" data-sticky-on="small" data-anchor="egyeb">
            <h2 class="chapter__title cl4">Egyéb hivatalok</h2>
        </div>
        <div class="chapter__intro">
            <p>A magyar alkotmányos rendszerben számos olyan közjogi tisztségviselő és szerv van, amelyek nem sorolhatók be tisztán egyik hatalmi ág alá sem, azonban jelentős szerepük van az állam működőképességének fenntartásában, vagy éppen fékként és ellensúlyként szolgálnak a többi hatalmi ággal szemben. Ha ezen szervek hivatali hatalmukat obstruktív módon a kormánnyal szemben gyakorolják, az nemcsak a Kormány mozgásterét szűkíti, hanem alapvetően veszélyeztetheti az állam működését. A választásokat követően <strong>21 tisztviselő</strong> marad pozícióban megközelítőleg <strong>legalább 90 évig.</strong></p>
        </div>
        <div id="e-chapterdata" class="chapter__data" data-title="Egyéb hivatalok">
            <div class="sticky" data-sticky data-margin-top="0" data-sticky-on="small" data-anchor="e-chapterdata">
                {{> theaxis headline='Egyéb hivatalok' colclass='cl4'}}
            </div>
            {{#each szervezetek}}
            {{#ifequal hatalmiag 'egyéb'}}
            <div class="office">
                <h3 class="office__title">{{intezmeny}}</h3>
                <div class="office__intro">
                    <p>
                        {{feladat}}
                    </p>
                </div>
                <div class="office__data">
                    {{#each nevpoziciok}}
                        {{svgbar 'cl4' datestart dateend }}
                        <p style="margin-right: {{rightspacecalc dateend}}%;">{{nevpozicio}}</p>
                    {{/each}}
                </div>
            </div>
            {{/ifequal}}
            {{/each}}
        </div>

    </div>
</div>