<div class="pagewrap">
    <div class="narrowwrap">
        <section class="widget">
            <h3 class="widget__title">
            {{#ifequal lang "hu"}}
            Megosztom másokkal
            {{else}}
            Share this
            {{/ifequal}}
            </h3>
            <div class="widget__body">
                <ul class="sharelist">
                    <li><a href="https://www.facebook.com/sharer.php?u={{ permalink }}" class="sharebtn">{{ svginsert 'facebook' root }}</a></li>
                    <li><a href="https://twitter.com/intent/tweet?text={{title}}&url={{ permalink }}" class="sharebtn">{{ svginsert 'twitter' root }}</a></li>
                    <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ permalink }}" class="sharebtn">{{ svginsert 'linkedin' root }}</a></li>
                    <li><div class="fb-like" data-href="{{ permalink }}" data-width="" data-layout="button_count" data-size="large" data-action="recommend" data-share="false"></div></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<div class="pagewrap fullwidth novpad xlight">
    <div class="sitefooter narrowwrap">
        <div class="sitefooter__logos">
            <a href="https://helsinki.hu/"><img src="{{root}}assets/img/mhblogo.svg"></a>
            <a target="_blank" href="https://postkodstiftelsen.se/en/"><img src="{{root}}assets/img/svenskalogo.png"></a>
        </div>

        <p>
            {{#ifequal lang "hu"}}
            Készült a <a target="_blank" href="https://helsinki.hu/">Magyar Helsinki Bizottság</a> megbízásából, a <a target="_blank" href="https://postkodstiftelsen.se/en/">Svenska Postkodstiftelsen</a> támogatásával.<br>Adat: 2021. december 15. &middot;
            Koncepció és grafika: <a target="_blank" href="https://www.szemann.com/">Szémann Tamás</a> &middot; Sitebuild: <a target="_blank" href="https://hydrogene.hu/">Hydrogene</a>
            {{else}}
            Made on behalf of the <a target="_blank" href="https://helsinki.hu/en/">Hungarian Helsinki Committee,</a> supported by the <a target="_blank" href="https://postkodstiftelsen.se/en/">Swedish Postcode Foundation.</a><br>Data: December 15, 2021 &middot;
            Concept and graphics: <a target="_blank" href="https://www.szemann.com/">Tamás Szémann</a> &middot; Sitebuild: <a target="_blank" href="https://hydrogene.hu/">Hydrogene</a>
            {{/ifequal}}
        </p>
    </div>
</div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=171677096215391&autoLogAppEvents=1" nonce="QrDwDLUG"></script>
