<div class="pagewrap fullwidth novpad xlight">
    <div class="sitefooter narrowwrap">
        <div class="sitefooter__logos">
            <a href="https://helsinki.hu/"><img src="{{root}}assets/img/helsinkilogo.png"></a>
            <img src="{{root}}assets/img/svenskalogo.png">
        </div>

        <p>
            {{#ifequal lang "hu"}}
            Készült a Magyar Helsinki Bizottság megbízásából, a Svenska Postkodstiftelsen támogatásával.<br>Adat: 2021. november 30.
            {{else}}
            Made on behalf of the Hungarian Helsinki Committee, supported by the Swedish Postcode Foundation.<br>Data: November 30, 2021
            {{/ifequal}}
        </p>
    </div>
</div>