<div id="igazsagszolgaltatas" class="chapter pagewrap novpad" data-magellan-target="igazsagszolgaltatas">
    <div class="narrowwrap">
        <div class="sticky" data-sticky data-margin-top="1" data-sticky-on="small" data-anchor="igazsagszolgaltatas">
            <h2 class="chapter__title cl2">Igazságszolgáltatás</h2>
        </div>
        <div class="chapter__intro">
            <p>Bár politikától független hatalmi ág, mégis jelentős befolyása van arra. Egyrészt a büntető igazságszolgáltatás körében üldözi a politikai korrupciót, másrészt a közigazgatási bíráskodáson keresztül felülvizsgálhatja és megsemmisítheti a végrehajtó hatalom alá rendelt közigazgatási szervek döntéseit. A választás után <strong>3 vezető tisztségviselő összesen 18 évig</strong> marad pozícióban.</p>
        </div>
        {{> chapterdata hatag='Igazságszolgáltatás' id='i-chapterdata' color='cl2' }}
    </div>
</div>