<div id="igazsagszolgaltatas" class="chapter pagewrap novpad" data-magellan-target="igazsagszolgaltatas">
    <div class="narrowwrap">
        <div class="sticky" data-sticky data-margin-top=".5" data-sticky-on="small" data-anchor="igazsagszolgaltatas">
            <h2 class="chapter__title cl2">Igazságszolgáltatás</h2>
        </div>
        <div class="chapter__intro">
            <p>Bár politikától független hatalmi ág, mégis jelentős befolyása van arra. Egyrészt a büntető igazságszolgáltatás körében üldözi a politikai korrupciót, másrészt a közigazgatási bíráskodáson keresztül felülvizsgálhatja és megsemmisítheti a végrehajtó hatalom alá rendelt közigazgatási szervek döntéseit. A választás után <strong>3 vezető tisztségviselő összesen 18 évig</strong> marad pozícióban.</p>
        </div>
        <div id="i-chapterdata" class="chapter__data" data-title="Igazságszolgáltatás">
            <div class="sticky" data-sticky data-margin-top="0" data-sticky-on="small" data-anchor="i-chapterdata">
                {{> theaxis headline='Igazságszolgáltatás' colclass='cl2'}}
            </div>
            {{#each szervezetek}}
            {{#ifequal hatalmiag 'Igazságszolgáltatás'}}
            <div class="office">
                <h3 class="office__title">{{intezmeny}}</h3>
                <div class="office__intro">
                    <p>
                        {{feladat}}
                    </p>
                </div>
                <div class="office__data">
                    {{#each nevpoziciok}}
                        {{svgbar 'cl2' datestart dateend }}
                        <p style="margin-right: {{rightspacecalc dateend}}%;">{{nevpozicio}}</p>
                    {{/each}}
                </div>
            </div>
            {{/ifequal}}
            {{/each}}
        </div>
    </div>
</div>