<div id="banner" class="pagewrap banner" data-magellan>
    <a class="langswitch" href="{{#ifequal lang "hu"}}{{root}}en/{{else}}{{root}}{{/ifequal}}" data-aos="fade-left" data-aos-delay="1700" data-aos-duration="500" data-aos-anchor="#animintro" >{{#ifequal lang "hu"}}EN{{else}}HU{{/ifequal}}</a>
    <div class="narrowwrap">
        <div id="thelead" class="thelead pageintro">
            <div id="animintro" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1200">
                <p>{{isent1}}</p>
                <p>{{isent2}}</p>
            </div>
        </div>
    </div>
    <a class="startgomb" href="#start" data-aos="fade-up" data-aos-delay="1700" data-aos-duration="500" data-aos-anchor="#animintro">
        <img src="{{root}}assets/img/down-arrow.svg">
    </a>
</div>