<div id="torvenyhozas" class="chapter pagewrap novpad" data-magellan-target="torvenyhozas">
    <div class="narrowwrap">
        <div class="sticky" data-sticky data-margin-top="1" data-margin-top="0" data-sticky-on="small" data-anchor="torvenyhozas">
            <h2 class="chapter__title cl1">Törvényhozás</h2>
        </div>
        <div class="chapter__intro">
            <p>A törvényhozás a legfőbb hatalmi ág, amely törvényalkotás és alkotmányozás útján a másik két hatalmi ág működési kereteit is meghatározhatja. A törvényhozó hatalom gyakorlója az Országgyűlés, azonban ide sorolható még a Költségvetési Tanács, amelynek hozzájárulása nélkül a parlament nem fogadhatja el az ország költségvetését, illetve az Állami Számevőszék, amely a költségvetési támogatások elköltését ellenőrzi a törvényhozó nevében. A 2022-es választásokat követően <strong>2 magas rangú vezető</strong> tisztségviselő marad pozícióban <strong>összesen 4 évig.</strong></p>
        </div>
        {{> chapterdata hatag='Törvényhozó' id='t-chapterdata' color='cl1' }}
    </div>
</div>