<div id="torvenyhozas" class="chapter pagewrap novpad" data-magellan-target="torvenyhozas">
    <div class="narrowwrap">
        <div class="sticky" data-sticky data-margin-top="1" data-margin-top="0" data-sticky-on="small" data-anchor="torvenyhozas">
            <h2 class="chapter__title cl1">Törvényhozás</h2>
        </div>
        <div class="chapter__intro">
            <p>A törvényhozás a legfőbb hatalmi ág, amely törvényalkotás és alkotmányozás útján a másik két hatalmi ág működési kereteit is meghatározhatja. A törvényhozó hatalom gyakorlója az Országgyűlés, azonban ide sorolható még a Költségvetési Tanács, amelynek hozzájárulása nélkül a parlament nem fogadhatja el az ország költségvetését, illetve az Állami Számevőszék, amely a költségvetési támogatások elköltését ellenőrzi a törvényhozó nevében. A 2022-es választásokat követően <strong>2 magas rangú vezető</strong> tisztségviselő marad pozícióban <strong>összesen 4 évig.</strong></p>
        </div>
        <div id="t-chapterdata" class="chapter__data" data-title="Törvényhozás">
            <div class="sticky" data-sticky data-margin-top="0" data-sticky-on="small" data-anchor="t-chapterdata">
                {{> theaxis headline='Törvényhozás' colclass='cl1'}}
            </div>
            {{#each szervezetek}}
            {{#ifequal hatalmiag 'Törvényhozó'}}
            <div class="office">
                <h3 class="office__title">{{intezmeny}}</h3>
                <div class="office__intro">
                    <p>
                        {{feladat}}
                    </p>
                </div>
                <div class="office__data">
                    {{#each nevpoziciok}}
                        {{svgbar 'cl1' datestart dateend }}
                        <p style="margin-right: {{rightspacecalc dateend}}%;">{{nevpozicio}}</p>
                    {{/each}}
                </div>
            </div>
            {{/ifequal}}
            {{/each}}
        </div>
    </div>
</div>