<div id="torvenyhozas" class="chapter pagewrap novpad" data-magellan-target="torvenyhozas">
    <div class="narrowwrap">
        <h2 class="chapter__title cl1">Törvényhozás</h2>
        <div class="chapter__intro">
            <p>A törvényhozás a legfőbb hatalmi ág, amely törvényalkotás és alkotmányozás útján a másik két hatalmi ág működési kereteit is meghatározhatja. A törvényhozó hatalom gyakorlója az Országgyűlés, azonban ide sorolható még a Költségvetési Tanács, amelynek hozzájárulása nélkül a parlament nem fogadhatja el az ország költségvetését, illetve az Állami Számevőszék, amely a költségvetési támogatások elköltését ellenőrzi a törvényhozó nevében. A 2022-es választásokat követően 2 magas rangú vezető tisztségviselő marad pozícióban összesen 4 évig.</p>
        </div>
        <div data-sticky-container>
            <div class="sticky" data-sticky data-margin-top="0" data-anchor="t-chapterdata" data-sticky-on="small">
                {{> theaxis}}
            </div>
        </div>
        <div id="t-chapterdata" class="chapter__data">
            {{#each szervezetek}}
            {{#ifequal hatalmiag 'Törvényhozó'}}
            <div class="office">
                <h3 class="office__title">{{intezmeny}}</h3>
                <div class="office__intro">
                    <p>
                        {{feladat}}
                    </p>
                </div>
                <div class="office__data">
                    {{#each nevpoziciok}}
                        {{svgbar 'cl1' rangestart rangeend }}
                        <p style="margin-right: {{rightspacecalc rangeend}}%;">{{nevpozicio}}</p>
                    {{/each}}
                </div>
            </div>
            {{/ifequal}}
            {{/each}}
        </div>
    </div>
</div>