<div id="vegrehajtas" class="chapter pagewrap novpad" data-magellan-target="vegrehajtas">
    <div class="narrowwrap">
        <h2 class="chapter__title cl2">Végrehajtó hatalom</h2>
        <div class="chapter__intro">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus dicta accusantium maiores. Bár politikától független hatalmi ág, mégis jelentős befolyása van arra. Egyrészt a büntető igazságszolgáltatás körében üldözi a politikai korrupciót, másrészt a közigazgatási bíráskodáson keresztül felülvizsgálhatja és megsemmisítheti a végrehajtó hatalom alá rendelt közigazgatási szervek döntéseit. A választás után 3 vezető tisztségviselő összesen 18 évig marad pozícióban.</p>
        </div>
        <div data-sticky-container>
            <div class="sticky" data-sticky data-margin-top="0" data-anchor="v-chapterdata" data-sticky-on="small">
                {{> theaxis}}
            </div>
        </div>
        <div id="v-chapterdata" class="chapter__data">
            <div class="office">
                <h3 class="office__title">Harmadik minta hivatal megnevezése</h3>
                <div class="office__intro">
                    <p>Lorem Fidesz ártok gazdálkodásának törvényességi ellenőrzése. Ebben a körben a pártok számára fizetési kötelezettséget állapíthat meg.</p>
                </div>
                <div class="office__data">
                    {{svgbar 'cl4' 12.5 83.5 }}
                    <p>Domokos László (elnök)</p>
                </div>
            </div>
            <div class="office">
                <h3 class="office__title">Állami Számvevőszék</h3>
                <div class="office__intro">
                    <p>Feladata a közpénzek elköltésének ellenőrzés, pártok gazdálkodásának törvényességi ellenőrzése. Ebben a körben a pártok számára fizetési kötelezettséget állapíthat meg.</p>
                </div>
                <div class="office__data">
                    {{svgbar 'cl1' 12.5 83.5 }}
                    <p>Domokos László (elnök)</p>
                    {{svgbar 'cl3' 25 83.5 }}
                    <p>Loerm Ipsun Ferenc (elnökhelyettes igazgató)</p>
                    {{svgbar 'cl4' 55 75 }}
                    <p>Ipsun Sanyi (elnökhelyettes igazgató és lorem ipsum)</p>
                </div>
            </div>
            <div class="office">
                <h3 class="office__title">Második hivatal</h3>
                <div class="office__intro">
                    <p>A közpénzek elköltésének ellenőrzés, pártok gazdálkodásának törvényességi ellenőrzése. Ebben a körben a pártok számára fizetési kötelezettséget állapíthat meg.</p>
                </div>
                <div class="office__data">
                    {{svgbar 'cl1' 12.5 83.5 }}
                    <p>Domokos László (elnök)</p>
                    {{svgbar 'cl1' 25 83.5 }}
                    <p>Loerm Ipsun Ferenc (elnökhelyettes igazgató)</p>
                    {{svgbar 'cl1' 55 75 }}
                    <p>Ipsun Sanyi (elnökhelyettes igazgató és lorem ipsum)</p>
                </div>
            </div>
        </div>
    </div>
</div>