<div id="vegrehajtas" class="chapter pagewrap novpad" data-magellan-target="vegrehajtas">
    <div class="narrowwrap">
        <h2 class="chapter__title cl3">Végrehajtó hatalom</h2>
        <div class="chapter__intro">
            <p>A végrehajtó hatalom csúcsszerve a Kormány, azonban az utóbbi években számos, hagyományosan a Kormány és a végrehajtó hatalom hatáskörébe tartozó feladatot szerveztek ki a mindenkori Kormánytól de jure független szervekhez. Ezen szervek vezetőit a Kormány hivatalos úton nem utasíthatja, és csak nagyon korlátozott esetekben mozdíthatja el. A 2022-es választás után 6 vezető tisztségviselő összesen 48 évig marad hivatalban.</p>
        </div>
        <div data-sticky-container>
            <div class="sticky" data-sticky data-margin-top="0" data-anchor="v-chapterdata" data-sticky-on="small">
                {{> theaxis}}
            </div>
        </div>
        <div id="v-chapterdata" class="chapter__data">
            {{#each szervezetek}}
            {{#ifequal hatalmiag 'Végrehajtó'}}
            <div class="office">
                <h3 class="office__title">{{intezmeny}}</h3>
                <div class="office__intro">
                    <p>
                        {{feladat}}
                    </p>
                </div>
                <div class="office__data">
                    {{#each nevpoziciok}}
                        {{svgbar 'cl3' datestart dateend }}
                        <p style="margin-right: {{rightspacecalc dateend}}%;">{{nevpozicio}}</p>
                    {{/each}}
                </div>
            </div>
            {{/ifequal}}
            {{/each}}
        </div>
    </div>
</div>